main {
  max-width: 1000px;
  padding: 10 25px 25px 25px;
  font-size: 16px;
  font-weight: 300;
}

.content {
  max-width: 800px;
  margin-top: 10px;
}

.navbar-nav li a:hover {
  border-bottom: 2px solid var(--accent);
  margin-bottom: -2px;
}

.page-title {
  text-transform: capitalize;
}

.item-tag {
  font-size: 80%;
}

/*home page*/

.intro {
  transform: unset;
}

/*apply accent colour to links*/

.content a:link,
.content a:visited {
  font-weight: 500;
}

/*list item for posts and projects*/

.icon img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item img {
  height: 150px;
  width: 150px;
}

.item p {
  font-size: 90%;
}

.item h4 {
  font-weight: 300;
}