{{ define "title"}} {{ .Site.Title}} {{end}} {{ define "header"}} {{ partial "header" .}} {{end}} {{ define "main"}}

<div id="main">
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure class="end">
          <a href="http://milkweedministries.com"><img alt="Baseline" width=200 height=200 src=" https://jessicasmarquis.files.wordpress.com/2017/12/milkweed-logo.png"></a>
        </figure>
        <h3>Milkweed Ministries</h3>
        <p>Creating spaces for justice-minded people who love Jesus to come alive and take action.</p>
      </div>
      <div class="col col-4 item">
        <figure class="end">
          <a href="http://dev.castogether.com"><img alt="Typography" width=200 height=200 src="https://jessicasmarquis.files.wordpress.com/2017/12/cast-logo.png"></a>
        </figure>
        <h3>CAST</h3>
        <p>A mix of women + TED-style talks + a variety show with a social justice flare movement.</p>
      </div>
      <div class="col col-4 item">
        <figure class="end">
          <a href="http://verses3to5.com/"><img alt="Typography" width=200 height=200 src="https://jessicasmarquis.files.wordpress.com/2017/12/verses3to5-logo.png"></a>
        </figure>
        <h3>Verses 3 to 5</h3>
        <p>Stories of redemption that empower and encourage others.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <figure class="end">
            <a href="https://www.amazon.com/Raising-Unicorns-Step--Step-Successful/dp/1440525900/">
              <img alt="Raising Unicorns" width=200 height=200 src="https://jessicasmarquis.files.wordpress.com/2017/12/unicorn_book.png">
            </a>
        </figure>
        <h3>Raising Unicorns</h3>
        <p>A step-by-step guide to starting and running a successful - and magical! - unicorn farm.</p>
      </div>
      <div class="col col-4 item">
        <figure class="end">
            <a href="http://unicornomics.com">
              <img alt="Unicornomics" width=200 height=200 src="https://jessicasmarquis.files.wordpress.com/2017/12/unicornomics-logo1.png">
            </a>
        </figure>
        <h3>Unicornomics</h3>
        <p>All the unicorn news you need from around the world and beyond!</p>
      </div>
      <div class="col col-4 item">
        <figure class="end">
            <a href="http://linearthinkingcomics.blogspot.com/#events">
              <img alt="Linear Thinking Comics" width=200 height=200 src="https://jessicasmarquis.files.wordpress.com/2017/12/linearthinking.png">
            </a>
        </figure>
        <h3>Linear Thinking Comics</h3>
        <p>1D comics for 3D thinkers.</p>
      </div>
    </div>
  </div>
</div>
{{ end }} {{ define "footer"}} {{ partial "footer" .}} {{end}}