html {
  font-size: 80%
}

a {
  color: #5123BB;
}

.navigation {
  height: 10rem;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.navigation a {
  display: inline;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 10rem;
  letter-spacing: .1rem;
  color: #fff;
}

.home-buttons a:hover {
  opacity: .7;
  text-decoration: none;
}

.home-section {
  margin-right: 100px;
}

.column {
  display: inline-block;
}

.column:not(:first-child) {
  border-left: 1px dashed #aaa;
}

.column:not(:last-child) {
  border-right: 1px dashed #aaa;
  margin-right: -1px;
  padding: 20px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
  html {
    font-size: 60%;
  }
  .navigation a {
    font-size: 1.2em !important;
    line-height: 1.4em
  }
  .home-section {
    margin-right: 10px;
  }
  .home-buttons img {
    height: 100px;
    width: 100px;
  }
}

.w3-animate-fading {
  animation: fading 5s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .navigation .home-icon {
    display: none !important;
  }
}

.social-icons ul {
  font-size: 1.4em;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  flex: 1;
  display: flex;
  justify-content: center;
}

.social-icons ul li {
  float: left;
  margin: 0;
  position: relative
}

.social-icons ul li a {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  color: #000;
}

.social-icons ul li a:hover {
  color: #5123BB;
}