#kube-features {
  margin-top: 0 !important;
}

#top-brand a {
  font-size: 24px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  line-height: 24px;
  font-weight: 600;
}

#nav-toggle-brand a,
#nav-toggle-brand span,
#top #top-nav-main a {
  color: #fff;
}

#top #top-brand span,
#top #top-brand a {
  line-height: inherit;
}

#top-brand a:hover,
#top #top-nav-main a:hover {
  color: #35beb1;
  text-decoration: none;
}

#hero p:before {
  background: #35beb1;
}

#hero {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

#posts {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 18px;
}