#kube-features {
  margin-top: 0 !important;
}

@media (max-width: 768px) {
  #top {
    display: flex;
    height: auto;
    padding-bottom: unset; }
    #top ul {
      display: flex; }
    #top #top-brand {
      display: none; }
    #top #top-nav-main {
      padding: 0;
      border: none; }
    #top #top-nav-extra {
      margin: 0; }
    #top #top-nav-main li,
    #top #top-nav-extra li {
      text-align: unset;
      width: auto;
      margin-left:auto;
      padding: 0; }

    }

.social-navigation li {
  display: inline-block;
  margin: 0 .20em;
  font-size: 125%;
  padding: 0 10px;
  width: 48px;

}

#overlay {
  @include blur(5px);
}

figure:hover #overlay {
  @include blur(5px);
}


#footer nav ul li { margin-left: unset;
}

#footer {
  font-size: 16px;
  margin: 0;
}

#top-brand a {
  font-size: 24px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  line-height: 24px;
  font-weight: 600;
}

#nav-toggle-brand a,
#nav-toggle-brand span,
#top #top-nav-main a,
#top #top-nav-extra a {
  color: #fff;
  border: none;
}

.navbar-icon {
  display: inline-block !important;
  font-size: 125%;
  padding: 0 10px;
  width: 48px;
}

#top #top-brand span,
#top #top-brand a {
  line-height: inherit;
}

#top-brand a:hover,
#top #top-nav-main a:hover,
#top #top-nav-extra a:hover {
  color: #35beb1;
  text-decoration: none;
}

#hero p:before {
  background: #35beb1;
}

#hero {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

#posts {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 18px;
}