<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}">

<style>
  html body {
  font-family: '{{ .Site.Params.font }}', sans-serif;
}
</style>

<div data-component=“sticky” class="bg-black">
<div  id="top">
  <div id="top-brand">
      <a class="aluminum" href="/"><span class="show-sm"></span><i class="fa fa-home"></i><span class="hide-sm">{{ .Site.Title }}</span></a>
  </div>
  <nav id="top-nav-extra">
    <ul>
      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" {{if $currentPage.IsMenuCurrent "main" . }} class="active" {{end}}>{{ .Name }}</a>
      </li>
      {{end}}
    </ul>
  </nav>
</div>
</div>
