<li itemscope itemtype="http://schema.org/CreativeWork">
  <div class="row between">
    <div class="show-sm col col-3 text-left">{{ .PublishDate.Format "January 2, 2006" }}</div>
    <div class="hide-sm col col-3 text-right">{{ .PublishDate.Format "January 2, 2006" }}</div>
    <div class="col col-8">
      <h2 class="title">
        <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
      </h2>
    </div>
    <hr> {{ if .Description }}
    <p itemprop="about">{{ .Description }}</p>
    {{ end }}
  </div>
</li>