{{ partial "header" . }}

<main>

  <div class="intro">

    <div class="row gutters">
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://milkweedministries.com">
            <img alt="Baseline" src=" https://jessicasmarquis.files.wordpress.com/2017/12/milkweed-logo.png">
          </a>
        </figure>
        <h3>Milkweed Ministries</h3>
        <p>Creating spaces for justice-minded people who love Jesus to come alive and take action.</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://dev.castogether.com">
            <img alt="CAST" src="https://jessicasmarquis.files.wordpress.com/2017/12/cast-logo.png">
          </a>
        </figure>
        <h3>CAST</h3>
        <p>A mix of women + TED-style talks + a variety show with a social justice flare movement.</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://verses3to5.com/">
            <img alt="Verses 3 to 5" src="https://jessicasmarquis.files.wordpress.com/2017/12/verses3to5-logo.png">
          </a>
        </figure>
        <h3>Verses 3 to 5</h3>
        <p>Stories of redemption that empower and encourage others.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="https://www.amazon.com/Raising-Unicorns-Step--Step-Successful/dp/1440525900/">
            <img alt="Raising Unicorns" src="https://jessicasmarquis.files.wordpress.com/2017/12/unicorn_book.png">
          </a>
        </figure>
        <h3>Raising Unicorns</h3>
        <p>A step-by-step guide to starting and running a successful - and magical! - unicorn farm.</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://unicornomics.com">
            <img alt="Unicornomics" src="https://jessicasmarquis.files.wordpress.com/2017/12/unicornomics-logo1.png">
          </a>
        </figure>
        <h3>Unicornomics</h3>
        <p>All the unicorn news you need from around the world and beyond!</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://linearthinkingcomics.blogspot.com/#events">
            <img alt="Linear Thinking Comics" src="https://jessicasmarquis.files.wordpress.com/2017/12/linearthinking.png">
          </a>
        </figure>
        <h3>Linear Thinking Comics</h3>
        <p>1D comics for 3D thinkers.</p>
      </div>
    </div>
  </div>

</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ partial "footer" . }}