{{ partial "header" . }}

<main>

  <div class="intro">
    <div class="row gutters">
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="https://www.amazon.com/Raising-Unicorns-Step--Step-Successful/dp/1440525900/">
            <img alt="Raising Unicorns" src="images/unicorn_book.png">
          </a>
        </figure>
        <h3>Raising Unicorns</h3>
        <p>A step-by-step guide to starting and running a successful - and magical! - unicorn farm.</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://unicornomics.com">
            <img alt="Unicornomics" src="images/unicornomics-logo.png">
          </a>
        </figure>
        <h3>Unicornomics</h3>
        <p>All the unicorn news you need from around the world and beyond!</p>
      </div>
      <div class="col col-md-4 item">
        <figure class="icon">
          <a href="http://linearthinkingcomics.blogspot.com/#events">
            <img alt="Linear Thinking Comics" src="images/linearthinking.png">
          </a>
        </figure>
        <h3>Linear Thinking Comics</h3>
        <p>1D comics for 3D thinkers.</p>
      </div>
    </div>
  </div>

</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ partial "footer" . }}