<section class="container centered">
  <div class="column">
    <h3 class="title">Faith &amp; Justice</h3>
    <div class="home-buttons">
      <a href="http://milkweedministries.com">
        <img alt="Milkweed Ministries" src="https://jessicasmarquis.files.wordpress.com/2017/12/milkweed-logo.png">
      </a>
      <a href="http://milkweedministries.com/#events">
        <img alt="CAST" src="https://jessicasmarquis.files.wordpress.com/2017/12/cast-logo.png">
      </a>
      <a href="http://verses3to5.com">
        <img alt="Verses 3 to 5" src="https://jessicasmarquis.files.wordpress.com/2017/12/verses3to5-logo.png">
      </a>
    </div>
  </div>

  <div class="column">
    <h3 class="title">Humor &amp; Whimsy</h3>
    <div class="home-buttons">
      <a href="https://www.amazon.com/Raising-Unicorns-Step--Step-Successful/dp/1440525900/">
        <img alt="Raising Unicorns" src="https://jessicasmarquis.files.wordpress.com/2017/12/unicorn_book.png">
      </a>
      <a href="http://unicornomics.com">
        <img alt="Unicornomics" src="https://jessicasmarquis.files.wordpress.com/2017/12/unicornomics-logo1.png">
      </a>
      <a href="http://linearthinkingcomics.blogspot.com/#events">
        <img alt="Linear Thinking Comics" src="https://jessicasmarquis.files.wordpress.com/2017/12/linearthinking.png">
      </a>
    </div>
  </div>
</section>